#a1{
    position:absolute;
    top: 250px;
    left: 270px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b1{
    position:absolute;
    top: 250px;
    left: 270px;
}
#a2{
    position:absolute;
    top: 150px;
    left: 270px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b2{
    position:absolute;
    top: 150px;
    left: 270px;
}
#a3{
    position:absolute;
    top: 113px;
    left: 270px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b3{
    position:absolute;
    top: 113px;
    left: 270px;
}
#a4{
    position:absolute;
    top: 230px;
    left: 267px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b4{
    position:absolute;
    top: 220px;
    left: 267px;
}
#a5{
    position:absolute;
    top: 260px;
    left: 295px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b5{
    position:absolute;
    top: 260px;
    left: 295px;
}
#a6{
    position:absolute;
    top: 378px;
    left: 345px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b6{
    position:absolute;
    top: 378px;
    left: 345px;
}
#a7{
    position:absolute;
    top: 170px;
    left: 650px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b7{
    position:absolute;
    top: 170px;
    left: 650px;
}
#a8{
    position:absolute;
    top: 255px;
    left: 250px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b8{
    position:absolute;
    top: 255px;
    left: 250px;
}
#a9{
    position:absolute;
    top: 630px;
    left: 560px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b9{
    position:absolute;
    top: 630px;
    left: 560px;
}
#a10{
    position:absolute;
    top: 285px;
    left: 170px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b10{
    position:absolute;
    top: 285px;
    left: 170px;
}

#a11{
    position:absolute;
    top: 460px;
    left: 310px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b11{
    position:absolute;
    top: 460px;
    left: 310px;
}
#a12{
    position:absolute;
    top: 300px;
    left: 190px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b12{
    position:absolute;
    top: 300px;
    left: 190px;
}
#a13{
    position:absolute;
    top: 602px;
    left: 497px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b13{
    position:absolute;
    top: 602px;
    left: 497px;
}
#a14{
    position:absolute;
    top: 383px;
    left: 365px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b14{
    position:absolute;
    top: 383px;
    left: 365px;
}
#a15{
    position:absolute;
    top: 550px;
    left: 520px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b15{
    position:absolute;
    top: 550px;
    left: 520px;
}
#a16{
    position:absolute;
    top: 320px;
    left: 345px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b16{
    position:absolute;
    top: 320px;
    left: 345px;
}
#a17{
    position:absolute;
    top: 200px;
    left: 245px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b17{
    position:absolute;
    top: 200px;
    left: 245px;
}
#a18{
    position:absolute;
    top: 120px;
    left: 180px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b18{
    position:absolute;
    top: 120px;
    left: 180px;
}
#a19{
    position:absolute;
    top: 370px;
    left: 310px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b19{
    position:absolute;
    top: 370px;
    left: 310px;
}
#a20{
    position:absolute;
    top: 360px;
    left: 180px;
    height: 35px;
    width: 35px;
    cursor:pointer
}
#b20{
    position:absolute;
    top: 360px;
    left: 180px;
}